<div class="container-fluid mt-5 d-flex justify-content-center">
  <div class="text-center">
    <h2>Welcome to Hypto BuilderHub</h2><br><br>
    <%= link_to image_tag('google-signin-button.png', class: 'btn-google-signin', width: 200), ui_google_login_path %>
  </div>
</div>
